@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body {
  font-family: "Heebo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.btn {
  margin: 0 8rem;
}
.toggle {
  position: relative;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  margin: 2rem auto;
  z-index: 20;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 220px;
  aspect-ratio: 1;
  border: 3px solid var(--primary-color);
  box-shadow: 0 0 80px 5px var(--primary-color);
  border-radius: 50%;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}

.needle.hour {
  width: 4px;
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 94px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  width: 2px;
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.hours {
  position: absolute;
  inset: 1px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  transform: rotate(calc(30deg * var(--h)));
  font-size: 1rem;
  font-weight: 900;
}
.hours p {
  transform: rotate(calc(-30deg * var(--h)));
}
.mins {
  position: absolute;
  inset: -10px;
  color: var(--primary-color);
  text-align: center;
  transform: rotate(calc(6deg * var(--m)));
  font-size: 0.6rem;
  font-weight: 900;
  transition: all 0.5s ease-in;
}
.mins p {
  transform: rotate(calc(-6deg * var(--m)));
}
.time {
  font-size: 60px;
}

.date {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 1.2rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
